%div.container(ng-controller="BillSearchController")
  .form.form-inline
    .form-group
      .input-group
        %input.form-control(ng-model="start.date" datepicker-popup="{{format}}" is-open="start.opened" placeholder="Start Time")
        %span.input-group-addon
          %i.glyphicon.glyphicon-calendar(ng-click="start_open($event)")
    .form-group
      .input-group
        %input.form-control(ng-model="end.date" datepicker-popup="{{format}}" is-open="end.opened" placeholder="End Time")
        %span.input-group-addon
          %i.glyphicon.glyphicon-calendar(ng-click="end_open($event)")
    .form-group#billSearchButtonGroup
      %button.btn.btn-primary(ng-click="search_bills_by_time_range(start.date, end.date)") Search
      %a.btn.btn-primary{href: bills_path()} Return
    .form-group#billSearchKeyWord
      %input.form-control(ng-model="keyword" placeholder="Filter Results")
    %span#balanceContainer
      %div{ class: "alert-{{alert_banner}} balanceAlert" }
        Balance: {{balance | currency}}


  %table.table.table-striped.table-hover
    %thead
      %th Bill Id
      %th Amount
      %th Category
      %th Create Time
      %th Date
      %th Type
      %th Note
    %tbody
      %tr(ng-repeat='bill in bills.slice(((currentPage-1) * itemsPerPage), (currentPage * itemsPerPage)) | filter: keyword')
        %td 
          %a{href: '/bills/{{bill.bill_id}}'}
            {{bill.bill_id}}
        %td {{bill.amount}}
        %td {{bill.category}}
        %td {{bill.create_timestamp}}
        %td {{bill.date}}
        %td {{bill.is_expense ? "Expense" : "Earn"}}
        %td {{bill.note}}
  %pagination(total-items="bills.length" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" items-per-page="itemsPerPage")
