%div#calendar.container(ng-controller="CalendarController as calendar")
  %div.calendarHeader
    %div.arrowLeft
      %i.glyphicon.glyphicon-chevron-left(ng-click="previousMonthCalender()")
    %div.monthLabel
      %span
        {{month.format("MMMM, YYYY")}}
    %div.arrowRight
      %i.glyphicon.glyphicon-chevron-right(ng-click="nextMonthCalender()")
  %div.weekday.row
    %div.col-md-1 Sun
    %div.col-md-1 Mon
    %div.col-md-1 Tue
    %div.col-md-1 Wed
    %div.col-md-1 Thu
    %div.col-md-1 Fri
    %div.col-md-1 Sat
  %div.date.row(ng-repeat='week in weeks')
    %div.col-md-1(ng-repeat='day in week' ng-class="{today: day.isToday, differentMonth: !day.isCurrentMonth, selected: day.date == selectDay.date}")
      %calendar-popover
%div.container.col-md-offset-5
  %div.btn-group.btn-group-lg.billButtonGroup
    %a.btn.btn-info{href: new_bill_path} Create Bill
    %a.btn.btn-info{href: new_bill_search_path} View  Bill