%div#calendar.container(ng-controller="CalendarController")
  %div.calendarHeader
    %div.arrowLeft
      %i.glyphicon.glyphicon-chevron-left(ng-click="previousMonthCalender()")
    %div.monthLabel
      %span
        {{month.format("MMMM, YYYY")}}
    %div.arrowRight
      %i.glyphicon.glyphicon-chevron-right(ng-click="nextMonthCalender()")
  %div.weekday.row
    %div.col-md-1 Sun
    %div.col-md-1 Mon
    %div.col-md-1 Tue
    %div.col-md-1 Wed
    %div.col-md-1 Thu
    %div.col-md-1 Fri
    %div.col-md-1 Sat
  %div.date.row(ng-repeat='week in weeks')
    %div.col-md-1(ng-repeat='day in week' ng-class="{today: day.isToday, differentMonth: !day.isCurrentMonth, selected: day.date == selectDay.date}" ng-click="select(day)")
      {{day.dateOfMonth}}

= link_to "Create new Bill", new_bill_path