%div.calendar-form-container(ng-controller='BillCreateController')
  %div.calendar-form
    %div
      %form
        %h3.calendar-form-title  Create new bill
        .form.form-horizontal
          .form-group
            %label.col-sm-2.control-label Amount
            .col-sm-8
              .input-group
                %span.input-group-addon $
                %input.form-control(ng-model="bill.amount")
          .form-group
            %label.col-sm-2.control-label Category
            .col-sm-8
              %ui-select(ng-model="bill.category" required="true" reset-search-input="false")
                %ui-select-match(placeholder="Select category or add new one...")
                  %span
                    {{$select.selected || $select.search}}
                  %a.btn.btn-xs.btn-link.pull-right(ng-click="clear($event, $select)")
                    %i.glyphicon.glyphicon-remove
                %ui-select-choices(repeat="category in default_categories | filter: $select.search" refresh="refreshResults($select)" refresh-delay="0")
                  %span
                    {{category}}
          .form-group
            %label.col-sm-2.control-label Date
            .col-sm-8
              .input-group
                %input.form-control(ng-model="bill.date" datepicker-popup="{{format}}" is-open="isOpened" placeholder="Select a date")
                %span.input-group-addon
                  %i.glyphicon.glyphicon-calendar(ng-click="open($event)")
          .form-group
            %label.col-sm-2.control-label +/-
            .col-sm-8
              .radio-inline
                %label.control-label
                %input(type="radio" checked ng-model="bill.is_expense" value="expense" )
                Expense
              .radio-inline
                %label.control-label
                %input(type="radio" ng-model="bill.is_expense" value="earn")
                Earn
          .form-group
            %label.col-sm-2.control-label Note
            .col-sm-8
              %input.form-control(ng-model="bill.note")
          .form-group
            .col-sm-8.col-sm-offset-2
              %button.btn.btn-primary(type="submit" ng-click="createBill(bill)") Submit
              %a.btn.btn-primary{href: bills_path()} Cancel
