#bill_graph_visualisation {
    background-color: #FFFFFF;
    margin-top: 10px;
}

.bill-graph-form-container {
    margin-left: 20px;
}

.bill-graph-axis path {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.bill-graph-axis text {
    font-family: Lato;
    font-size: 13px;
}

.balance-line {
    stroke: url(#balance-zero);
    stroke-width: 2px;
    fill: none;
}

.tick line {
    opacity: 0.1;
}

.bill-graph-axis line {
    fill: none;
    stroke: black;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 40px;
    padding: 3px;
    font: 14px sans-serif;
    background: #ABB9EE;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}